@import "../../styles/_vars.scss";

.message-field {
  display: flex;
  flex-direction: column;
  @include f600;

  & .item-message {
    height: 64px;
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    -webkit-user-select: none;
    cursor: pointer;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    &:hover {
      background: #E6F6F1;
      position: relative;
      //&:after {
      //  height: 20px;
      //  width: 20px;
      //  content: url("../components/img/download.svg");
      //  display: block;
      //}
    }
    &-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: column;
      //font-size: 12px;
      //line-height: 16px;
      //color: rgba(40, 43, 45, 0.6);
      //font-family: "Inter-Regular", sans-serif;
      //font-weight: 400;
      &-time {
        font-size: 12px;
        line-height: 16px;
        color: rgba(40, 43, 45, 0.6);
        font-family: "Inter-Regular", sans-serif;
      }
      &-content {
        font-family: "Inter-Regular", sans-serif;
        font-weight: 400;
      }

      &-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;

        //background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
      }
      //&-img {
      //  &-msg {
      //    display: block;
      //    &:hover {
      //      display: none;
      //    }
      //  }
      //
      //  &-download {
      //    display: none;
      //    &:hover{
      //      display: block;
      //    }
      //  }
      //}
    }
  }
}