.field-users {
  border-right: 1px solid #C8CACC;
}
.field-users .all-users {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #C8CACC;
  -webkit-user-select: none;
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: 600;
}
.field-users .all-users h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}
.field-users .list-users {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 304px;
}
.field-users .list-users .search-users {
  margin-left: 3%;
}
.field-users .list-users .search-users input {
  outline: none;
}
.field-users .list-users .file-input {
  position: relative;
  display: inline-block;
  /* Hover/active */
}
.field-users .list-users .file-input input[type=file] {
  cursor: pointer;
}
.field-users .list-users .file-input input[type=file]:focus + span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.field-users .list-users .file-input:hover span {
  background-color: #59be6e;
}
.field-users .list-users .file-input:active span {
  background-color: #2E703A;
}
.field-users .list-users input:checked + label:after {
  top: 5px;
  left: 20px;
  width: 12px;
  height: 7px;
  border-left: 2px solid #FCFCFD;
  border-bottom: 2px solid #FCFCFD;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.field-users .list-users .item-user {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
}
.field-users .list-users .item-user:hover {
  background: #EBECEC;
}
.field-users .list-users .item-user .title-user {
  display: flex;
  flex-direction: column;
}
.field-users .list-users .item-user .title-user .naming {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: rgba(40, 43, 45, 0.92);
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: 600;
}
.field-users .list-users .item-user .title-user .job {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(40, 43, 45, 0.6);
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
}
.field-users .list-users .item-user .counter-cycle {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  background-color: #38A88F;
  color: rgba(252, 252, 253, 0.92);
  border-radius: 50%;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}
.field-users .list-users .item-user-options {
  position: absolute;
  top: 13px;
  left: 255px;
  width: 232px;
  height: 120px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 100;
  display: flex;
  box-shadow: 0 1px 2px 0 #ccc, 1px 2px 4px 0 #ccc, 2px 4px 8px 0 #ccc, 2px 4px 16px 0 #ccc;
}
.field-users .list-users .item-user-options ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.field-users .list-users .item-user-options ul li {
  width: 100%;
  padding-top: 6px;
  cursor: pointer;
  padding-left: 10px;
  font-family: Inter-Regular, serif;
}
.field-users .list-users .item-user-options ul li:hover {
  background-color: #EBECEC;
}
.field-users .list-users .wrapper {
  position: absolute;
}
.field-users .list-users input[type=checkbox] {
  display: none;
}
.field-users .list-users input[type=checkbox]:checked + label:before {
  background-color: #008F75;
}
.field-users .list-users input[type=checkbox]:checked + label:after {
  content: "";
  position: absolute;
}
.field-users .list-users input[type=checkbox]:checked + label:after {
  top: 11px;
  left: 20px;
  width: 12px;
  height: 7px;
  border-left: 2px solid #FCFCFD;
  border-bottom: 2px solid #FCFCFD;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.field-users .list-users input[type=checkbox]:disabled + label:before {
  border-color: #DEDFE0;
}
.field-users .list-users label {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  cursor: pointer;
}
.field-users .list-users label:before {
  content: "";
  width: 20px;
  height: 20px;
  margin: 0 16px;
  background: rgba(40, 43, 45, 0.02);
  border: 1px solid #C8CACC;
}
.field-users .list-users label:hover:before {
  border-color: #686D71;
}

/*# sourceMappingURL=ListUsers.css.map */
